.movie-info {
  height: 240px;
}
.buttons-container {
  width: 100%;
  .edit-btn {
    width: 100px;
  }

}

.card-body {
  position: relative;
}

.card {
  background-color: white;
  margin: 25px;
  width: 20rem;
  height: 20rem;
  position: relative;
  span {
    color: 6f696e;
  }
}


.edit-menu {
  height: 100%;
}

input {
    margin: 3px 0px;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #ab47bc;
}

.delete-popup {
    position: absolute;
    left: 20%;
    background: white;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    padding: 30px;
}